body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
}

.user-guesses:first-child {
  color: blue;
}

.rainbow {
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 2s infinite;

  /* Internet Explorer */
  -ms-animation: rainbow 2s infinite;

  /* Standar Syntax */
  animation: rainbow 2s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}
}
